In [147]:
import pandas as pd
df=pd.read_csv('train_ctrUa4K.csv',usecols=['Gender','Married','Self_Employed','Dependents'])
df.head()

  Gender Married Dependents Self_Employed
0   Male      No          0            No
1   Male     Yes          1            No
2   Male     Yes          0           Yes
3   Male     Yes          0            No
4   Male      No          0            No

In [148]:
df.isnull().mean()*100

Gender           2.117264
Married          0.488599
Dependents       2.442997
Self_Employed    5.211726
dtype: float64

In [149]:
df['Dependents'].unique()

array(['0', '1', '2', '3+', nan], dtype=object)

In [150]:
 x=df.drop(columns=['Dependents'])
x.head()

  Gender Married Self_Employed
0   Male      No            No
1   Male     Yes            No
2   Male     Yes           Yes
3   Male     Yes            No
4   Male      No            No

In [151]:
y=df.iloc[:,2:3]

In [152]:
y.head()

  Dependents
0          0
1          1
2          0
3          0
4          0

In [153]:
y.isnull().sum()

Dependents    15
dtype: int64

In [154]:
x=pd.get_dummies(x,columns=['Gender','Married','Self_Employed'],drop_first=True)

In [155]:
x.head()

   Gender_Male  Married_Yes  Self_Employed_Yes
0            1            0                  0
1            1            1                  0
2            1            1                  1
3            1            1                  0
4            1            0                  0

In [156]:
x.isnull().mean()*100

Gender_Male          0.0
Married_Yes          0.0
Self_Employed_Yes    0.0
dtype: float64

In [157]:
from sklearn.model_selection import train_test_split as tts
x_train,x_test,y_train,y_test=tts(x,y,test_size=0.2)

In [158]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
imputer=SimpleImputer

In [159]:
from sklearn.impute import KNNImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [160]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((491, 3), (123, 3), (491, 1), (123, 1))

In [161]:
knn=KNNImputer()

In [162]:
x_train_trf=knn.fit_transform(x_train)

In [163]:
x_test_trf=knn.transform(x_test)

In [164]:
x_train_trf

array([[0., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 1., 0.]])

In [165]:
x_test_trf

array([[0., 0., 0.],
       [0., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [0., 0., 0.],
       [1., 0., 0.],
       [0., 0., 0.],
       [1., 0., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [0., 0., 1.],
       [1., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [1., 0., 0.],
       [0., 0., 0.],
       [1., 0., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 1.],
       [1., 1., 0.],
       [0., 0., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [0., 0., 0.],
       [1., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 1., 0.],
       [0., 0., 0.],
       [1., 1., 0.],
       [0., 0., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 1.],
       [1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [0., 0., 1.],
       [1., 1., 1.],
       [1., 1., 0.],
       [1., 0., 0.],
       [1., 1., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [1., 1., 0.],
       [1., 1., 1.],
       [0., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [1., 0., 0.],
       [0., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 1., 1.],
       [1., 1., 0.],
       [1., 0., 0.],
       [0., 0., 0.],
       [1., 1., 0.],
       [0., 0., 0.],
       [1., 1., 0.],
       [1., 0., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [0., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [0., 0., 1.],
       [1., 1., 0.],
       [1., 0., 0.],
       [0., 0., 0.],
       [1., 1., 0.],
       [1., 0., 1.],
       [1., 1., 0.],
       [0., 0., 0.],
       [1., 1., 0.],
       [0., 0., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [0., 0., 0.],
       [0., 1., 1.],
       [1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 1.],
       [1., 0., 1.],
       [1., 1., 1.],
       [1., 1., 0.],
       [0., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       [1., 0., 1.],
       [0., 0., 0.],
       [1., 1., 0.],
       [1., 1., 1.],
       [1., 1., 0.],
       [0., 0., 0.],
       [1., 1., 1.],
       [1., 1., 0.],
       [1., 1., 0.],
       [1., 0., 1.],
       [1., 0., 0.],
       [1., 0., 1.],
       [1., 0., 0.],
       [1., 1., 0.],
       [0., 0., 0.],
       [1., 1., 0.],
       [1., 0., 0.],
       [1., 1., 0.]])

In [166]:
pd.DataFrame(x_train_trf,columns=x_train.columns)

     Gender_Male  Married_Yes  Self_Employed_Yes
0            0.0          0.0                0.0
1            0.0          1.0                0.0
2            1.0          0.0                0.0
3            1.0          1.0                1.0
4            1.0          1.0                0.0
..           ...          ...                ...
486          0.0          0.0                1.0
487          1.0          0.0                0.0
488          1.0          0.0                0.0
489          0.0          0.0                1.0
490          1.0          1.0                0.0

[491 rows x 3 columns]

In [167]:
lr=LogisticRegression()

In [168]:
y_train_trf=knn.fit_transform(x_train)

In [169]:
y_test_trf=knn.transform(x_test)

In [170]:
y_train_trf

array([[0., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 1., 0.]])

In [ ]:
def replace(text):
    for

In [ ]:
y_train['Dependents'].apply(replace)

In [177]:
y_train['Dependents']=y_train['Dependents'].fillna(y_train['Dependents'].median())

TypeError: could not convert string to float: '3+'

In [173]:
y_train.isnull().sum()

Dependents    10
dtype: int64

In [174]:
x_train_trf.shape

(491, 3)

In [175]:
y_train.shape

(491, 1)

In [176]:
lr.fit(x_train_trf,y_train)

C:\Users\bat17\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: Input contains NaN